@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PaperlogyRegular";
  src: url("/fonts/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PaperlogyBold";
  src: url("/fonts/Paperlogy-7Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0 !important;
  font-family: "PaperlogyRegular", sans-serif;
}
